<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>550693912868-vo256al86o13lab966a659vf6p40u990.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550693912868-vo256al86o13lab966a659vf6p40u990</string>
	<key>API_KEY</key>
	<string>AIzaSyAFHZ3PiU7q8H5SdLbJZ9CKiKwypUjS8mI</string>
	<key>GCM_SENDER_ID</key>
	<string>550693912868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digitalhouse.Proyecto-Integrador</string>
	<key>PROJECT_ID</key>
	<string>bloopdh-d5baa</string>
	<key>STORAGE_BUCKET</key>
	<string>bloopdh-d5baa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550693912868:ios:fa0a5a998d48afa6</string>
	<key>DATABASE_URL</key>
	<string>https://bloopdh-d5baa.firebaseio.com</string>
</dict>
</plist>